html,body{
overflow-x:hidden;
}
.slide-div>img
{
width: 38px;
height: 38px;
vertical-align: middle;

}
.slide-div{
    margin: 0% 3%;
    display:inline-block;
}
.scrol
{
    white-space: nowrap;
     overflow-x:scroll; 
     margin-top:30px;
}
.best-cake
{
    margin: 0% 3%;
    display:inline-block; 
    border:solid 0.2px rgb(248, 221, 221) ;
}
.best-cake>img
{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    margin: 8px;

}